<a href="https://colab.research.google.com/github/fahernkhan/Model-untuk-Klasifikasi-Banyak-Kelas/blob/main/jst_untuk_mengklasifikasikan_spesies_bunga_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

unduh dataset : https://www.kaggle.com/datasets/uciml/iris

In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

In [2]:
df = pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df = df.drop(columns='Id')

melakukan one hot encoding di label kita yang merupakan data kategorikal menggunakan Fungsi get_dummies()

In [4]:
category = pd.get_dummies(df.Species)
category

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [5]:
category = pd.get_dummies(df.Species)
category

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

menggabungkan kolom hasil one hot encoding dan membuang kolom spesies karena kolom tersebut tidak akan dipakai

In [6]:
new_df = pd.concat([df, category], axis=1)
new_df = new_df.drop(columns='Species')
new_df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Iris-setosa,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

konversi dataframe tersebut menjadi numpy array dengan fungsi values dari dataframe

In [7]:
dataset = new_df.values
dataset

array([[5.1, 3.5, 1.4, ..., 1. , 0. , 0. ],
       [4.9, 3. , 1.4, ..., 1. , 0. , 0. ],
       [4.7, 3.2, 1.3, ..., 1. , 0. , 0. ],
       ...,
       [6.5, 3. , 5.2, ..., 0. , 0. , 1. ],
       [6.2, 3.4, 5.4, ..., 0. , 0. , 1. ],
       [5.9, 3. , 5.1, ..., 0. , 0. , 1. ]])

memisahkan antara atribut dan label dengan menjalankan kolom di bawah

In [11]:
# Pilih 4 kolom pertama untuk dijadikan sebagai atribut
X = dataset[:,0:4]
# Pilih 3 kolom terakhir sebagai label
y = dataset[:,4:7]

melakukan normalisasi

In [12]:
# Normalize
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)
X_scale

array([[0.22222222, 0.625     , 0.06779661, 0.04166667],
       [0.16666667, 0.41666667, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.05084746, 0.04166667],
       [0.08333333, 0.45833333, 0.08474576, 0.04166667],
       [0.19444444, 0.66666667, 0.06779661, 0.04166667],
       [0.30555556, 0.79166667, 0.11864407, 0.125     ],
       [0.08333333, 0.58333333, 0.06779661, 0.08333333],
       [0.19444444, 0.58333333, 0.08474576, 0.04166667],
       [0.02777778, 0.375     , 0.06779661, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.30555556, 0.70833333, 0.08474576, 0.04166667],
       [0.13888889, 0.58333333, 0.10169492, 0.04166667],
       [0.13888889, 0.41666667, 0.06779661, 0.        ],
       [0.        , 0.41666667, 0.01694915, 0.        ],
       [0.41666667, 0.83333333, 0.03389831, 0.04166667],
       [0.38888889, 1.        , 0.08474576, 0.125     ],
       [0.30555556, 0.79166667, 0.05084746, 0.125     ],
       [0.22222222, 0.625     , 0.06779661, 0.08333333],
       [0.38888889, 0.75      , 0.11864407, 0.08333333],
       [0.22222222, 0.75      , 0.08474576, 0.08333333],
       [0.30555556, 0.58333333, 0.11864407, 0.04166667],
       [0.22222222, 0.70833333, 0.08474576, 0.125     ],
       [0.08333333, 0.66666667, 0.        , 0.04166667],
       [0.22222222, 0.54166667, 0.11864407, 0.16666667],
       [0.13888889, 0.58333333, 0.15254237, 0.04166667],
       [0.19444444, 0.41666667, 0.10169492, 0.04166667],
       [0.19444444, 0.58333333, 0.10169492, 0.125     ],
       [0.25      , 0.625     , 0.08474576, 0.04166667],
       [0.25      , 0.58333333, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.10169492, 0.04166667],
       [0.13888889, 0.45833333, 0.10169492, 0.04166667],
       [0.30555556, 0.58333333, 0.08474576, 0.125     ],
       [0.25      , 0.875     , 0.08474576, 0.        ],
       [0.33333333, 0.91666667, 0.06779661, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.19444444, 0.5       , 0.03389831, 0.04166667],
       [0.33333333, 0.625     , 0.05084746, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.02777778, 0.41666667, 0.05084746, 0.04166667],
       [0.22222222, 0.58333333, 0.08474576, 0.04166667],
       [0.19444444, 0.625     , 0.05084746, 0.08333333],
       [0.05555556, 0.125     , 0.05084746, 0.08333333],
       [0.02777778, 0.5       , 0.05084746, 0.04166667],
       [0.19444444, 0.625     , 0.10169492, 0.20833333],
       [0.22222222, 0.75      , 0.15254237, 0.125     ],
       [0.13888889, 0.41666667, 0.06779661, 0.08333333],
       [0.22222222, 0.75      , 0.10169492, 0.04166667],
       [0.08333333, 0.5       , 0.06779661, 0.04166667],
       [0.27777778, 0.70833333, 0.08474576, 0.04166667],
       [0.19444444, 0.54166667, 0.06779661, 0.04166667],
       [0.75      , 0.5       , 0.62711864, 0.54166667],
       [0.58333333, 0.5       , 0.59322034, 0.58333333],
       [0.72222222, 0.45833333, 0.66101695, 0.58333333],
       [0.33333333, 0.125     , 0.50847458, 0.5       ],
       [0.61111111, 0.33333333, 0.61016949, 0.58333333],
       [0.38888889, 0.33333333, 0.59322034, 0.5       ],
       [0.55555556, 0.54166667, 0.62711864, 0.625     ],
       [0.16666667, 0.16666667, 0.38983051, 0.375     ],
       [0.63888889, 0.375     , 0.61016949, 0.5       ],
       [0.25      , 0.29166667, 0.49152542, 0.54166667],
       [0.19444444, 0.        , 0.42372881, 0.375     ],
       [0.44444444, 0.41666667, 0.54237288, 0.58333333],
       [0.47222222, 0.08333333, 0.50847458, 0.375     ],
       [0.5       , 0.375     , 0.62711864, 0.54166667],
       [0.36111111, 0.375     , 0.44067797, 0.5       ],
       [0.66666667, 0.45833333, 0.57627119, 0.54166667],
       [0.36111111, 0.41666667, 0.59322034, 0.58333333],
       [0.41666667, 0.29166667, 0.52542373, 0.375     ],
       [0.52777778, 0.08333333, 0.59322034, 0.58333333],
       [0.36111111, 0.20833333, 0.49152542, 0.41666667],
       [0.44444444, 0.5       , 0.6440678 , 0.70833333],
       [0.5       , 0.33333333, 0.50847458, 0.5       ],
       [0.55555556, 0.20833333, 0.66101695, 0.58333333],
       [0.5       , 0.33333333, 0.62711864, 0.45833333],
       [0.58333333, 0.375     , 0.55932203, 0.5       ],
       [0.63888889, 0.41666667, 0.57627119, 0.54166667],
       [0.69444444, 0.33333333, 0.6440678 , 0.54166667],
       [0.66666667, 0.41666667, 0.6779661 , 0.66666667],
       [0.47222222, 0.375     , 0.59322034, 0.58333333],
       [0.38888889, 0.25      , 0.42372881, 0.375     ],
       [0.33333333, 0.16666667, 0.47457627, 0.41666667],
       [0.33333333, 0.16666667, 0.45762712, 0.375     ],
       [0.41666667, 0.29166667, 0.49152542, 0.45833333],
       [0.47222222, 0.29166667, 0.69491525, 0.625     ],
       [0.30555556, 0.41666667, 0.59322034, 0.58333333],
       [0.47222222, 0.58333333, 0.59322034, 0.625     ],
       [0.66666667, 0.45833333, 0.62711864, 0.58333333],
       [0.55555556, 0.125     , 0.57627119, 0.5       ],
       [0.36111111, 0.41666667, 0.52542373, 0.5       ],
       [0.33333333, 0.20833333, 0.50847458, 0.5       ],
       [0.33333333, 0.25      , 0.57627119, 0.45833333],
       [0.5       , 0.41666667, 0.61016949, 0.54166667],
       [0.41666667, 0.25      , 0.50847458, 0.45833333],
       [0.19444444, 0.125     , 0.38983051, 0.375     ],
       [0.36111111, 0.29166667, 0.54237288, 0.5       ],
       [0.38888889, 0.41666667, 0.54237288, 0.45833333],
       [0.38888889, 0.375     , 0.54237288, 0.5       ],
       [0.52777778, 0.375     , 0.55932203, 0.5       ],
       [0.22222222, 0.20833333, 0.33898305, 0.41666667],
       [0.38888889, 0.33333333, 0.52542373, 0.5       ],
       [0.55555556, 0.54166667, 0.84745763, 1.        ],
       [0.41666667, 0.29166667, 0.69491525, 0.75      ],
       [0.77777778, 0.41666667, 0.83050847, 0.83333333],
       [0.55555556, 0.375     , 0.77966102, 0.70833333],
       [0.61111111, 0.41666667, 0.81355932, 0.875     ],
       [0.91666667, 0.41666667, 0.94915254, 0.83333333],
       [0.16666667, 0.20833333, 0.59322034, 0.66666667],
       [0.83333333, 0.375     , 0.89830508, 0.70833333],
       [0.66666667, 0.20833333, 0.81355932, 0.70833333],
       [0.80555556, 0.66666667, 0.86440678, 1.        ],
       [0.61111111, 0.5       , 0.69491525, 0.79166667],
       [0.58333333, 0.29166667, 0.72881356, 0.75      ],
       [0.69444444, 0.41666667, 0.76271186, 0.83333333],
       [0.38888889, 0.20833333, 0.6779661 , 0.79166667],
       [0.41666667, 0.33333333, 0.69491525, 0.95833333],
       [0.58333333, 0.5       , 0.72881356, 0.91666667],
       [0.61111111, 0.41666667, 0.76271186, 0.70833333],
       [0.94444444, 0.75      , 0.96610169, 0.875     ],
       [0.94444444, 0.25      , 1.        , 0.91666667],
       [0.47222222, 0.08333333, 0.6779661 , 0.58333333],
       [0.72222222, 0.5       , 0.79661017, 0.91666667],
       [0.36111111, 0.33333333, 0.66101695, 0.79166667],
       [0.94444444, 0.33333333, 0.96610169, 0.79166667],
       [0.55555556, 0.29166667, 0.66101695, 0.70833333],
       [0.66666667, 0.54166667, 0.79661017, 0.83333333],
       [0.80555556, 0.5       , 0.84745763, 0.70833333],
       [0.52777778, 0.33333333, 0.6440678 , 0.70833333],
       [0.5       , 0.41666667, 0.66101695, 0.70833333],
       [0.58333333, 0.33333333, 0.77966102, 0.83333333],
       [0.80555556, 0.41666667, 0.81355932, 0.625     ],
       [0.86111111, 0.33333333, 0.86440678, 0.75      ],
       [1.        , 0.75      , 0.91525424, 0.79166667],
       [0.58333333, 0.33333333, 0.77966102, 0.875     ],
       [0.55555556, 0.33333333, 0.69491525, 0.58333333],
       [0.5       , 0.25      , 0.77966102, 0.54166667],
       [0.94444444, 0.41666667, 0.86440678, 0.91666667],
       [0.55555556, 0.58333333, 0.77966102, 0.95833333],
       [0.58333333, 0.45833333, 0.76271186, 0.70833333],
       [0.47222222, 0.41666667, 0.6440678 , 0.70833333],
       [0.72222222, 0.45833333, 0.74576271, 0.83333333],
       [0.66666667, 0.45833333, 0.77966102, 0.95833333],
       [0.72222222, 0.45833333, 0.69491525, 0.91666667],
       [0.41666667, 0.29166667, 0.69491525, 0.75      ],
       [0.69444444, 0.5       , 0.83050847, 0.91666667],
       [0.66666667, 0.54166667, 0.79661017, 1.        ],
       [0.66666667, 0.41666667, 0.71186441, 0.91666667],
       [0.55555556, 0.20833333, 0.6779661 , 0.75      ],
       [0.61111111, 0.41666667, 0.71186441, 0.79166667],
       [0.52777778, 0.58333333, 0.74576271, 0.91666667],
       [0.44444444, 0.41666667, 0.69491525, 0.70833333]])

pembagian data menjadi data latih dan data uji. Untuk ukuran data testing yang digunakan 30%

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X_scale, y, test_size=0.3)

membuat arsitektur model yang kali ini menggunakan 3 buah layer. Activation function yang digunakan pada layer terakhir dipilih,softmax karena activation tersebut umum dipakai untuk klasifikasi multi kelas seperti ini

In [15]:
model = Sequential([    
                    Dense(64, activation='relu', input_shape=(4,)),    
                    Dense(64, activation='relu'),    
                    Dense(3, activation='softmax'),])

menentukan optimizer dan loss function dari model. Untuk masalah klasifikasi multi kelas, kali ini dapat menggunakan loss â€˜categorical_crossentropy

In [16]:
model.compile(optimizer='Adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

melatih ML

In [17]:
hist = model.fit(X_train, Y_train, epochs=100)

Epoch 1/100
4/4 [==============================] - 1s 5ms/step - loss: 1.0757 - accuracy: 0.3524
Epoch 2/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0448 - accuracy: 0.3238
Epoch 3/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0144 - accuracy: 0.3429
Epoch 4/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9867 - accuracy: 0.3429
Epoch 5/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9619 - accuracy: 0.3714
Epoch 6/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9360 - accuracy: 0.5714
Epoch 7/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9094 - accuracy: 0.6286
Epoch 8/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8828 - accuracy: 0.6476
Epoch 9/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8552 - accuracy: 0.6476
Epoch 10/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8290 - accuracy: 0.6476
Epoch 11/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8018 - accuracy: 0.6476
Epoch 12/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7765 - accuracy: 0.6476
Epoch 13/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7500 - accuracy: 0.6476
Epoch 14/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7241 - accuracy: 0.6476
Epoch 15/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6975 - accuracy: 0.6476
Epoch 16/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6730 - accuracy: 0.6476
Epoch 17/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6496 - accuracy: 0.6476
Epoch 18/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6262 - accuracy: 0.6476
Epoch 19/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6045 - accuracy: 0.6476
Epoch 20/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5825 - accuracy: 0.6476
Epoch 21/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5619 - accuracy: 0.6476
Epoch 22/100
4/4 [==============================] - 0s 4ms/step - loss: 0.5413 - accuracy: 0.6952
Epoch 23/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5235 - accuracy: 0.7810
Epoch 24/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5069 - accuracy: 0.8952
Epoch 25/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4900 - accuracy: 0.8952
Epoch 26/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4772 - accuracy: 0.8190
Epoch 27/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4617 - accuracy: 0.8762
Epoch 28/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4488 - accuracy: 0.9238
Epoch 29/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4392 - accuracy: 0.9143
Epoch 30/100
4/4 [==============================] - 0s 4ms/step - loss: 0.4254 - accuracy: 0.8952
Epoch 31/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4138 - accuracy: 0.9333
Epoch 32/100
4/4 [==============================] - 0s 3ms/step - loss: 0.4035 - accuracy: 0.9333
Epoch 33/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3974 - accuracy: 0.9333
Epoch 34/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3821 - accuracy: 0.9429
Epoch 35/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3744 - accuracy: 0.9238
Epoch 36/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3705 - accuracy: 0.8952
Epoch 37/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3624 - accuracy: 0.9238
Epoch 38/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3462 - accuracy: 0.9429
Epoch 39/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3393 - accuracy: 0.9333
Epoch 40/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3310 - accuracy: 0.9333
Epoch 41/100
4/4 [==============================] - 0s 4ms/step - loss: 0.3255 - accuracy: 0.9333
Epoch 42/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3154 - accuracy: 0.9524
Epoch 43/100
4/4 [==============================] - 0s 4ms/step - loss: 0.3061 - accuracy: 0.9333
Epoch 44/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2979 - accuracy: 0.9333
Epoch 45/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2874 - accuracy: 0.9429
Epoch 46/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2802 - accuracy: 0.9524
Epoch 47/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2744 - accuracy: 0.9238
Epoch 48/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2637 - accuracy: 0.9429
Epoch 49/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2570 - accuracy: 0.9429
Epoch 50/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2485 - accuracy: 0.9619
Epoch 51/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2402 - accuracy: 0.9524
Epoch 52/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2346 - accuracy: 0.9429
Epoch 53/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2264 - accuracy: 0.9524
Epoch 54/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2200 - accuracy: 0.9524
Epoch 55/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2147 - accuracy: 0.9619
Epoch 56/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2096 - accuracy: 0.9524
Epoch 57/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2016 - accuracy: 0.9524
Epoch 58/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1983 - accuracy: 0.9524
Epoch 59/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1927 - accuracy: 0.9524
Epoch 60/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1864 - accuracy: 0.9524
Epoch 61/100
4/4 [==============================] - 0s 4ms/step - loss: 0.1819 - accuracy: 0.9524
Epoch 62/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1800 - accuracy: 0.9524
Epoch 63/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1743 - accuracy: 0.9524
Epoch 64/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1687 - accuracy: 0.9524
Epoch 65/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1656 - accuracy: 0.9524
Epoch 66/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1620 - accuracy: 0.9619
Epoch 67/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1603 - accuracy: 0.9524
Epoch 68/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1582 - accuracy: 0.9619
Epoch 69/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1531 - accuracy: 0.9619
Epoch 70/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1483 - accuracy: 0.9619
Epoch 71/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1522 - accuracy: 0.9524
Epoch 72/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1559 - accuracy: 0.9429
Epoch 73/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1495 - accuracy: 0.9524
Epoch 74/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1397 - accuracy: 0.9619
Epoch 75/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1473 - accuracy: 0.9524
Epoch 76/100
4/4 [==============================] - 0s 4ms/step - loss: 0.1405 - accuracy: 0.9619
Epoch 77/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1338 - accuracy: 0.9524
Epoch 78/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1328 - accuracy: 0.9524
Epoch 79/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1309 - accuracy: 0.9524
Epoch 80/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1292 - accuracy: 0.9524
Epoch 81/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1263 - accuracy: 0.9524
Epoch 82/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1254 - accuracy: 0.9524
Epoch 83/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1243 - accuracy: 0.9524
Epoch 84/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1214 - accuracy: 0.9524
Epoch 85/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1213 - accuracy: 0.9524
Epoch 86/100
4/4 [==============================] - 0s 5ms/step - loss: 0.1203 - accuracy: 0.9524
Epoch 87/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1180 - accuracy: 0.9524
Epoch 88/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1155 - accuracy: 0.9619
Epoch 89/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1128 - accuracy: 0.9619
Epoch 90/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1129 - accuracy: 0.9524
Epoch 91/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1138 - accuracy: 0.9524
Epoch 92/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1102 - accuracy: 0.9524
Epoch 93/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1071 - accuracy: 0.9524
Epoch 94/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1101 - accuracy: 0.9619
Epoch 95/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1146 - accuracy: 0.9714
Epoch 96/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1075 - accuracy: 0.9619
Epoch 97/100
4/4 [==============================] - 0s 4ms/step - loss: 0.1032 - accuracy: 0.9524
Epoch 98/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1047 - accuracy: 0.9524
Epoch 99/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1036 - accuracy: 0.9524
Epoch 100/100
4/4 [==============================] - 0s 3ms/step - loss: 0.1026 - accuracy: 0.9524

terakhir menguji akurasi prediksi model pada data uji

In [18]:
model.evaluate(X_test, Y_test)

2/2 [==============================] - 0s 6ms/step - loss: 0.0743 - accuracy: 0.9778

[0.07426495850086212, 0.9777777791023254]